@import "tailwindcss";


/* lahze */
@font-face {
  font-family: 'Lahze';
  src: url('/fonts/Lahzeh-FaNumVF.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}


/* theme */
@theme {
 --font-lahze: "Lahze", sans-serif;
}


/* class */
@layer components {


}

/* elements */

@layer base {
   /* html {
    scroll-behavior: smooth;
  } */
   body {
    font-family: sans-serif;
    position: relative;
    background-color: #FCFCFC;
    color: #000000;
    direction: rtl;
  } 
}

/* container */

@utility container {
  @apply mx-auto px-3.75 max-w-7xl
}


