@import "tailwindcss";


/* lahze */
@font-face {
  font-family: 'Lahze';
  src: url('/fonts/Lahzeh-FaNumVF.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

/* theme */
@theme {
  --font-lahze: "Lahze", sans-serif;
  --font-sans: sans-serif;
  --breakpoint-gx: 1100px;
  --breakpoint-xs: 400px;
  --color-cryptoPrice: #f0f4f9;
  --color-cryptoPriceUp: #2fd66e;
  --color-linearsec1: #161c2d;
  --color-linearsec2: #25304a;
  --color-input2: #e8edf4;
  --color-boxMobile: #0070ba;
   --radius-20px: 1.25rem; 
   --radius-26px: 1.625rem; 
   --text-10px: 0.625rem; 
   --text-15px: 0.9375rem; 
  /* --text-18Px: 1.125rem;  */
}

/* class */
@layer components {

  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ltr {
  direction: ltr;
  }
  

  /* ul nav desktop */
  .navLink {
    @apply relative font-medium text-slate-700 transition-colors duration-300 cursor-pointer
  }

  .navLink:hover {
    @apply text-blue-600
  }

  .navLink::after {
    content: '';
    @apply absolute right-0 -bottom-1 w-full h-0.5 bg-blue-600 ;
    transform: scaleX(0);
     transition: transform 0.3s ease;
     transform-origin: right;
  }

  .navLink:hover::after {
    transform: scaleX(1)
  }

  /* ul nav sidebar */

  .navLinkSideBar {
    @apply px-4 py-3 rounded-2xl bg-white/5 hover:bg-white/10 cursor-pointer transition-all duration-300 ease-in-out
  }
}

/* elements */

@layer base {

  /* html {
    scroll-behavior: smooth;
  } */
  body {
    font-family: sans-serif;
    position: relative;
    background-color: #FCFCFC;
    color: #000000;
    direction: rtl;
  }
}

/* container */

@utility container {
  @apply mx-auto px-3.75 max-w-7xl
}

/* style costume component mantine */
.m_46b77525 {
  width: 100%;
}
.m_92253aa5 {
  width: 100% !important;
  text-align: right !important;
  padding: 12px 16px !important; /* py-3 px-4 */
  font-size: 0.875rem !important; /* text-sm */
  font-weight: 600 !important; /* font-semibold */
  transition: background-color 150ms ease !important;
}

.m_92253aa5:hover {
  background-color: #eff6ff !important;
}
